<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.rutgers.cs213.androidchess50">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ReplayActivity"></activity>
        <activity
            android:name=".activity.GameListActivity"
            android:label="Load Game"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GameActivity"
            android:label="Game Activity"
            android:parentActivityName=".activity.MainActivity" />
    </application>

</manifest>